html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table tr, table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(31, 218, 15);
}

table tbody thead td {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(10, 231, 110);
}

table tbody tr th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgb(48, 212, 33)
}

table tbody tr th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    background-color: rgb(8, 235, 38);
    box-sizing: border-box;
    display: table-cell;
}

a {
    color: #428bca;
    text-decoration: none;
    background: 0 0;
}