table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

table tr, table th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}

table tbody thead  th {
    background-color: #CCE8EB;
    width: 100px;
}

table tbody tr:nth-child(odd) {
    background: #fff;
}

table tbody tr:nth-child(even) {
    background: #F5FAFA;
}