{% extends "index.html" %}

{% block title %} 个人博客分享 {% endblock %}

{% block sorts %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">分类</a>
        <div class="dropdown-menu navbar-dark bg-primary">
            {% for c in categroy %}
                <a class="dropdown-item" href="/?classification={{ c }}">{{ c }}</a>
            {% endfor %}
        </div>
    </li>
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        {% for c in categroy %}
            <a class="list-group-item" href="/?classification={{ c }}">{{ c }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h3 class="article-title">{{ post.title }}</h3>

            <p class="article-meta">Posted on
                <time datetime="{{ post.modified_time }}">{{ post.modified_time }}</time>
                by <a href="/aboutme" rel="author">{{ post.author }}</a></p>
            {#  可定义以后博客的简要信息#}
            <p>{{ post.excerpt|safe }}</p>
            <a href="/article/{{ post.id }}" class="btn btn-primary">Read more</a>
            <!-- <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a> -->
        </article>
        {# 当数据不存在时输出  #}
    {% empty %}
        <div class="no-post">暂时没有发布文章</div>
    {% endfor %}
{% endblock %}

{% block pagebreak %}
    <!-- 分页 -->
{#    <li class="page-item">#}
{#        <a class="page-link" href="#" aria-label="Previous">#}
{#            <span aria-hidden="true">&laquo;</span>#}
{#            <span class="sr-only">Previous</span>#}
{#        </a>#}
{#    </li>#}
{#    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#    <li class="page-item active"><a class="page-link" href="#">2</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#    <li class="page-item"><a class="page-link" href="#">4</a></li>#}
{#    <li class="page-item">#}
{#        <a class="page-link" href="#" aria-label="Next">#}
{#            <span aria-hidden="true">&raquo;</span>#}
{#            <span class="sr-only">Next</span>#}
{#        </a>#}
{#    </li>#}
{% endblock %}

