<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>metrics</title>
    <!-- including ECharts file -->
    <link rel="stylesheet" type="text/css" href="../static/css/quiltreview.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/quiltreview.css">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/domain.js"></script>
</head>
<body>    <!-- prepare a DOM container with width and height -->
<div><h1>domain</h1></div>
{# {% if row.status == 'OFF' %} selected="selected" {% endif %}#}

<div>
    <table width="70%" class="table" id="tabledata">
        <tr class="title">
            <th>Org</th>
            <th>Owner</th>
            <th style="width:150px;">Dmain</th>
            <th>v5.4</th>
            <th>v5.5</th>
            <th>v5.6-rc5</th>
        </tr>
        <tr class="Camera/IPO">
            <td></td>
            <td>pankris,linjanh</td>
            <td style="width:150px;">Camera/IPO</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Sensor">
            <td></td>
            <td>zhoufuro,nikunj</td>
            <td style="width:150px;">Sensor</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Storage">
            <td></td>
            <td>zgoufuro</td>
            <td style="width:150px;">Storage</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Audio and Codes">
            <td></td>
            <td>nikunj</td>
            <td style="width:150px;">Audio and Codes</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Core Kernel">
            <td></td>
            <td>lilili</td>
            <td style="width:150px;">Core Kernel</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Image and Video">
            <td></td>
            <td></td>
            <td style="width:150px;">Image and Video</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Graphics+Display">
            <td></td>
            <td>liyifan1</td>
            <td style="width:150px;">Graphics+Display</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="USB">
            <td></td>
            <td>pankirs</td>
            <td style="width:150px;">USB</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Low power subsyste">
            <td></td>
            <td>honglili</td>
            <td style="width:150px;">Low power subsyste</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Rower and Perfromance">
            <td></td>
            <td>chaoqin</td>
            <td style="width:150px;">Rower and Perfromance</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Network">
            <td></td>
            <td>baolizha</td>
            <td style="width:150px;">Network</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="config">
            <td></td>
            <td></td>
            <td style="width:150px;">config</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Unassrgned">
            <td></td>
            <td>mgross</td>
            <td style="width:150px;">Unassrgned</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Hypervisor">
            <td></td>
            <td>junxiaoc</td>
            <td style="width:150px;">Hypervisor</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Security">
            <td></td>
            <td>zhoufuro</td>
            <td style="width:150px;">Security</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="Security">
            <td></td>
            <td>nikunj</td>
            <td style="width:150px;">Security</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr><tr class="sep-Socwatch">
            <td></td>
            <td>chaoqin</td>
            <td style="width:150px;">sep-Socwatch</td>
            <td>856</td>
            <td>77</td>
            <td>35</td>
        </tr>
    </table>
</div>
<!--
json 数据格式       kd = Kernel domain      e.g Sensors     camera
{"v5.4":{"kd1":xx,"kd2":xx},"v5.5":{"kd1":xx}, "V5.6":{"kd1":xx}}
-->
<div id="domain" style="width: 1000px;height:500px;margin:auto;"></div>

</body>
</html>