<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      rel="external nofollow">
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>
<body>
<table class="table table-bordered" id='tabletest'>
    <tr>
        <th>名字</th>
        <th>开始时间</th>
        <th>是否真实</th>
        <th>设备</th>
    </tr>
</table>
<script>
    $(function forajax() {
        var options = {
            url: "Userjson",//json文件或者数据库查询后的地址
            colums: [{
                "Index": "name",
                "Name": "用户名"
            }, {
                "Index": "rolename",
                "Name": "角色"
            }, {
                "Index": "status",
                "Name": "状态"
            }, {
                "Index": "isActive",
                "Name": "是否激活"
            }, {
                "Index": "createTime",
                "Name": "创建时间"
            }, {
                "Index": "lastLogin",
                "Name": "最后登录"
            }]
        }
        $("#tabletest").grid(options);
    });
</script>
</body>
</html>