<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Echarts使用</title>
    <!-- including ECharts file -->
    <style type="text/css" scr="../static/css/quiltreview.css"></style>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          rel="external nofollow">
</head>
<body>    <!-- prepare a DOM container with width and height -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="myChart" style="width:990px;height:400px;margin:auto;"></div>

<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('myChart'));

    // 显示标题，图例和空的坐标轴
    myChart.setOption({

        title: {
            text: 'Patch Cycle Chart / Work Week'
        },
        tooltip: {},
        legend: {
            data: ['Work Week(Years.WW)']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: []
        }]
    });

    // 异步加载数据
    $.get('http://api.lwpoor.cn/echarts/getjson').done(function (resule) {
        myChart.hideLoading();
        //resule = JSON.parse(resule);//把string字符串转换为json数组
        myChart.setOption({
            // 顶部选择
            legend: {
                data: ['New', 'Reviewing', 'Approved', 'Merged', 'Released']
            },
            // 自动调节位置
            toolbox: {
                show: true,
                orient: 'vertical',
                x: 'right',
                y: 'center',
                feature: {
                    mark: true,
                    dataView: {readOnly: false},
                    magicType: ['line', 'bar'],
                    restore: true,
                    saveAsImage: true
                }
            },
            calculable: true,
            // 显示每周
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子", "衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"],
                axisLabel: {
                    interval: 0,
                    rotate: 40
                },
            },
            // 每周每个任务的时间
            yAxis: {
                type: 'value',
                splitArea: {show: true}
            },
            series: [{
                name: 'New',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                // 将来返回New种的时间
                data: [320, 302, 301, 334, 390, 330, 320]
            },
                {
                    name: 'Reviewing',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: 'Approved',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: 'Merged',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [150, 212, 201, 154, 190, 330, 410]
                },
                {
                    name: 'Released',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        normal: {
                            show: true,
                            position: 'insideRight'
                        }
                    },
                    data: [820, 832, 901, 934, 1290, 1330, 1320]
                }]
        });
    });
</script>

<div id="main" style="width:990px;height:400px;margin:auto;"></div>

<script type="text/javascript">

    var myChart1 = echarts.init(document.getElementById('main'));
    // 显示标题，图例和空的坐标轴
    myChart1.setOption({
        title: {
            text: 'Number of Patches / Work Week'
        },
        tooltip: {},
        legend: {
            data: []
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'num',
            type: 'bar',
            data: []
        }
        ]
    });

    // 异步加载数据
    //$.get('http://api.lwpoor.cn/echarts/getjson').done(function (resule) {
    $.get('/postjson/').done(function (resule) {
        myChart.hideLoading();
        //resule = JSON.parse(resule);//把string字符串转换为json数组
        myChart1.setOption({
            // 自动调节位置
            toolbox: {
                show: true,
                orient: 'vertical',
                x: 'right',
                y: 'center',
                feature: {
                    mark: true,
                    dataView: {readOnly: false},
                    magicType: ['line', 'bar'],
                    restore: true,
                    saveAsImage: true
                }
            },
            xAxis: {
                data: resule.Result.name
            },
            yAxis: {},
            series: [{
                name: 'name:销量',
                type: 'bar',
                data: resule.Result.value
            }
            ]
        });
    })

    // 处理点击事件并且跳转到相应的百度搜索页面
    myChart1.on('click', function (params) {
        alert(params.name);
        $("#tabledata tr").hide()
        $("#tabledata ." + params.name ).show()

        alert("执行过隐藏")
    })
    ;
    myChart.on('click', function (params) {
        window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name));
    })
    $(function for_ajax() {
        var options = {
            url: "weekjson",//json文件或者数据库查询后的地址
            colums: [{
                "Index": "week",
                "Name": "Week"
            }, {
                "Index": "branch",
                "Name": "Branch"
            }, {
                "Index": "new",
                "Name": "New"
            }, {
                "Index": "reviewing",
                "Name": "Reviewing"
            }, {
                "Index": "approved",
                "Name": "Approved"
            }, {
                "Index": "merged",
                "Name": "Merged"
            }, {
                "Index": "released",
                "Name": "Released"
            }]
        }
        $("#tabledata").grid(options);
    });

</script>
<table class="table table-bordered" id='tabledata'>
    <tr>
        <th>Week</th>
        <th>Branch
        </td>
        <th>New</th>
        <th>Reviewing</th>
        <th>Approved</th>
        <th>Merged</th>
        <th>Released</th>
    </tr>
</table>
<script>

</script>
<table class="changeTable accountDashboard" style="width: 100%;">
    <colgroup>
        {{ 'Lts 2018' }}
    </colgroup>
</table>
</body>

</html>