<!DOCTYPE html>
<html style="height: 100%">

    <head>
        <meta charset="utf-8">
    </head>

    <body style="height: 100%; margin: 0">
        <div id="container" style="height: 90%"></div>
        <p id="p">1001</p>
        <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
        <script src="../static/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
   var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var dataAxis = ['?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?', '?'];
var data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];
var yMax = 500;
var dataShadow = [];

for (var i = 0; i < data.length; i++) {
    dataShadow.push(yMax);
}

var curInt = null;
option = {
    title: {
        text: '????:??? ?? ????',
        subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
    },
    xAxis: {
        data: dataAxis,
        axisLabel: {
            inside: true,
            textStyle: {
                color: '#fff'
            }
        },
        axisTick: {
            show: false
        },
        axisLine: {
            show: false
        },
        z: 10
    },
    yAxis: {
        axisLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLabel: {
            textStyle: {
                color: '#999'
            }
        }
    },
    dataZoom: [
        {
            type: 'inside'
        }
    ],
    series: [
        { // For shadow
            type: 'bar',
            itemStyle: {
                normal: {color: 'rgba(0,0,0,0.05)'}
            },
            barGap:'-100%',
            barCategoryGap:'40%',
            data: dataShadow,
            animation: false
        },
        {
            type: 'bar',
            itemStyle: {
                normal: {
                    color:function(params){


						var key = params.dataIndex;
						console.log(key);
					console.log(curInt);
						if(key===curInt){
							return '#E062AE'
						}else{
							return '#37A2DA'
						}
					}
                }
            },
            data: data
        }
    ]
};

if (option && typeof option === "object") {
    myChart.setOption(option, false);
}

myChart.on('click', function (params) {
	myChart.clear();
	curInt = params.dataIndex;
	myChart.setOption(option,false);
});
       </script>
   </body>
</html>