<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>week show</title>
    <!-- including ECharts file -->
    <style type="text/css" scr="../static/css/quiltreview.css"></style>
    <style type="text/css" scr="../static/css/mertrics.css"></style>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>

</head>
<body>    <!-- prepare a DOM container with width and height -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="myChart" style="width:990px;height:400px;margin:auto;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('myChart'));

    // 显示标题，图例和空的坐标轴
    myChart.setOption({

        title: {
            text: 'Patch Cycle Chart / Work Week'
        },
        tooltip: {},
        legend: {
            data: ['Work Week(Years.WW)']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            data: []
        }]
    });

    // 异步加载数据
    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "/ajax/get_metrics/",    //请求发送到TestServlet处
        data: {"kernel": "e.g.lts2018"},
        dataType: "json",        //返回数据形式为json
        success: function (results) {
            result_data = results.Result
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result_data) {
                var data_dict = data_reduction(result_data);
                var result = data_durations(data_dict)
                //挨个取出类别并填入类别数组
                var week = result['week'];
                //var verify_nums = result['released_durations'];
                var review_nums = result['review_duration'];
                var merge_nums = result['merge_duration'];
                var released_nums = result['rel_duration'];
                //console.log(week)
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({
                    // 顶部选择
                    legend: {
                        data: ['Review', 'Merge', 'Released']
                    },
                    // 自动调节位置
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        x: 'right',
                        y: 'center',
                        feature: {
                            mark: true,
                            dataView: {readOnly: false},
                            magicType: ['line', 'bar'],
                            restore: true,
                            saveAsImage: true
                        }
                    },
                    calculable: true,
                    // 显示每周
                    xAxis: {
                        data: week,
                        axisLabel: {
                            interval: 0,
                            rotate: 40
                        },
                    },
                    // 每周每个任务的时间
                    yAxis: {
                        type: 'value',
                        splitArea: {show: true},
                    },
                    series: [{
                        name: 'Review',
                        type: 'bar',
                        stack: '总量',
                        label: {
                            normal: {
                                show: true,
                                position: 'insideRight'
                            }
                        },
                        data: review_nums,
                    },
                        {
                            name: 'Merge',
                            type: 'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'insideRight'
                                }
                            },
                            data: merge_nums,
                        },
                        {
                            name: 'Released',
                            type: 'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'insideRight'
                                }
                            },
                            data: released_nums,
                        }]
                });

            }

        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    });
</script>

<div id="main" style="width:990px;height:400px;margin:auto;"></div>

<script type="text/javascript">

    var myChart1 = echarts.init(document.getElementById('main'));
    // 显示标题，图例和空的坐标轴
    myChart1.setOption({
        title: {
            text: 'Number of Patches / Work Week'
        },
        tooltip: {},
        legend: {
            data: []
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'num',
            type: 'bar',
            data: []
        }
        ]
    });

    // 异步加载数据
    myChart1.showLoading();
    $.ajax({
        type: "post",
        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "/ajax/get_metrics/",    //请求发送到TestServlet处
        data: {"kernel": "e.g.lts2018"},
        dataType: "json",        //返回数据形式为json
        success: function (results) {
            result_data = results.Result
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result_data) {
                var data_dict = data_reduction(result_data);
                //console.log('data_dict')
                //console.log(data_dict)
                var result = data_durations(data_dict)
                //挨个取出类别并填入类别数组
                var week = result['week'];
                var week_num = []
                $.each(data_dict, function (k, v) {
                    var num_leg = v.length;
                    week_num.push(num_leg)
                })
                //console.log(week_num)
                myChart1.hideLoading();
                //resule = JSON.parse(resule);//把string字符串转换为json数组
                myChart1.setOption({
                    // 自动调节位置
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        x: 'right',
                        y: 'center',
                        feature: {
                            mark: true,
                            dataView: {readOnly: false},
                            magicType: ['line', 'bar'],
                            restore: true,
                            saveAsImage: true
                        }
                    },
                    xAxis: {
                        data: week,
                        axisLabel: {
                            interval: 0,
                            rotate: 40
                        },
                    },
                    yAxis: {},
                    series: [{
                        name: 'name:销量',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#06d3cd',
                                //barBorderRadius: [20, 20, 20, 20],
                            }
                        },
                        data: week_num,
                    }
                    ]
                });

            }

        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    });

    // 处理点击事件并且跳转到相应的百度搜索页面
    /*
    myChart1.on('click', function (params) {
        $("#tabledata tr").hide()
        $("#tabledata .title").show()
        $("#tabledata ." + params.name).show()
    })
    ;
        $("#tabledata tr").hide()
        $("#tabledata .title").show()
     */

    myChart1.one('click', function (params) {
        $("#tabledata tr").hide()
        $("#tabledata .title").show()
        myChart1.setOption({
            xAxis: [{
                axisLabel: {
                    textStyle: {
                        color: function (value, index) {
                            return index == params.dataIndex ? '#F14845' : '#383738';
                        }
                    }
                }
            }]
        })
        $("#tabledata ." + params.name).show()
    });
    myChart.one('click', function (params) {
        $("#tabledata tr").hide()
        $("#tabledata .title").show()
        myChart.setOption({
            xAxis: [{
                axisLabel: {
                    textStyle: {
                        color: function (value, index) {
                            return index == params.dataIndex ? '#F14845' : '#383738';
                        }
                    }
                }
            }]
        })
        $("#tabledata ." + params.name).show()
    });
    myChart1.on('click', function (params) {
        myChart1.setOption({
            xAxis: [{
                axisLabel: {
                    textStyle: {
                        color: function (value, index) {
                            return index == params.dataIndex ? '#F14845' : '#383738';
                        }
                    }
                }
            }]
        })
        if ($("#tabledata ." + params.name).css('display') == 'none') {
            $("#tabledata ." + params.name).show();
        } else {
            $("#tabledata ." + params.name).hide();
        }
    });
    myChart.on('click', function (params) {
        myChart.setOption({
            xAxis: [{
                axisLabel: {
                    textStyle: {
                        color: function (value, index) {
                            return index == params.dataIndex ? '#F14845' : '#383738';
                        }
                    }
                }
            }]
        })
        if ($("#tabledata ." + params.name).css('display') == 'none') {
            $("#tabledata ." + params.name).show();
        } else {
            $("#tabledata ." + params.name).hide();
        }
    });

    $(function for_ajax() {
        var options = {
            url: "/ajax/get_metrics/",//json文件或者数据库查询后的地址
            colums: [{
                "Index": "week",
                "Name": "Week"
            }, {
                "Index": "verify_duration",
                "Name": "Verify"
            }, {
                "Index": "review_duration",
                "Name": "Review"
            }, {
                "Index": "merge_duration",
                "Name": "Merged"
            }, {
                "Index": "rel_duration",
                "Name": "Released"
            }]
        }
        $("#tabledata").grid(options);
    });

</script>

<table width="90%" class="table">
    <tr class="title">
        <th>Week</th>
        <th>Patch ID</th>
        <th>Verify Time</th>
        <th>Merage Time</th>
        <th>Release Time</th>
    </tr>
</table>
</body>
</html>