<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- including ECharts file -->
    <script scr="../static/js/jquery.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
</head>
<body>    <!-- prepare a DOM container with width and height -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main'));

    // specify chart configuration item and data
    var option = {
        title: {
            text: 'Patch Cycle Chart / Work Week'
        },
        tooltip: {},
        legend: {
            data: ['Sales']
        },
        xAxis: {
            data: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
        },
        yAxis: {},
        series: [{
            name: 'Sales',
            type: 'bar',
            data: [50, 100, 150, 200, 250, 300, 350, 400, 535, 1]
        }, {
            name: 'QQ',
            type: 'bar',
            data: [50, 3, 46, 89, 35, 75, 83, 400, 535, 1]
        }
        ]
    };

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>
</body>

</html>