<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>week show</title>
    <!-- including ECharts file -->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          rel="external nofollow">
    <style type="text/css" scr="../static/css/quiltreview.css"></style>
    <style type="text/css" scr="../static/css/mertrics.css"></style>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>
</head>
<body>    <!-- prepare a DOM container with width and height -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<p> now</p>
<script type="text/javascript">
    //1571144176.912599
    //alert(new Data(1485136744758).format('yyyy-MM-dd'))
    var date = new Date(1470004176912);
    // 格式化日期
    dateTime = date.toLocaleDateString();
    var t = Date.parse(date);
    console.log(dateTime)
    console.log(typeof dateTime)
</script>
</body>
</html>