<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>week show</title>
    <!-- including ECharts file -->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          rel="external nofollow">
    <style type="text/css" scr="../static/css/quiltreview.css"></style>
    <style type="text/css" scr="../static/css/mertrics.css"></style>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>

</head>
<body>    <!-- prepare a DOM container with width and height -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<p> now</p>
<script type="text/javascript">

    function getWeekOfYear() {
        var today = new Date();
        var firstDay = new Date(today.getFullYear(), 0, 1);
        var dayOfWeek = firstDay.getDay();
        var spendDay = 1;
        if (dayOfWeek != 0) {
            spendDay = 7 - dayOfWeek + 1;
        }
        firstDay = new Date(today.getFullYear(), 0, 1 + spendDay);
        var d = Math.ceil((today.valueOf() - firstDay.valueOf()) / 86400000);
        var result = Math.ceil(d / 7);
        return result + 1;
    };
    alert(getWeekOfYear())
</script>
</body>
</html>